body{
	background-image: url("../images/regal.png");
}

#navname{
	color:#ffffff;
	background-color:#40aaa5;
	margin:0;
	padding:14px 5px;
	}

#aboutme,#connectwme{
	background-color:#ffffff;
	margin-top:20px;

}	
